@font-face {
    font-family: Kanit;
    src: url(Kanit-Regular.ttf);
}

@keyframes scrivi {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animazione-titolo span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px);
}

.titolo {
    color: white;
}

.bottone_html {
    color: white;
    padding: 8px;
    background-color: #f26529;
    
}

.bottone_css {
    color: white;
    padding: 8px;
    background-color: #42a5f5;
    border: 1px solid black;
    border-radius: 5px;
}

.bottone_js {
    color: white;
    padding: 8px;
    background-color: #f7df1e;
    border: 1px solid black;
    border-radius: 5px;
}

body {
    font-family: Kanit;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f26529;
    color: #fff;
    text-align: center;
    padding: 16px;
}

header h1 {
    font-size: 60px;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #f26529;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid;
    margin: 20px 20px;
}

div {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}